header {
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2),
    url("../images/dublin.jpg")
  );
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 96px;
  line-height: 144px;
  text-align: center;
}
